/* Hexadecimal */
h1{
    color: #0000FF;
}

/* Hexadecimal Shorthand */
h2{
    color: #0F0;
}

/* RGB */
h3{
    color: rgb(255, 50, 50);
}

/* RGBA */
h4{
    color: rgba(255, 50, 0, 0.5);
}

/* Color Name */
h5 {
    color: darkorchid;
}

/* Hexadecimal with Transparency */
h6{
    color: #0000FF77;
}

/* Hexadecimal Shorthand with Transparency */
p{
    color: 0001;
}